# For Terraform configurations

terraform/*.tfstate
terraform/*.tfstate.backup

terraform/*.tfvars
terraform/*.tfvars.json

terraform/*.plan

terraform/.terraform/
terraform/.terraform.lock.hcl

# For flask-web-app

flask_web_app/app/venv/